version: 2

aliases:
  - &docker_builder
    docker:
      - image: circleci/buildpack-deps:stretch
    working_directory: /tmp/workspace

jobs:
  setup:
    <<: *docker_builder
    steps:
      - checkout
      - persist_to_workspace:
          root: .
          paths: '*'
  build-ubuntu-elasticsearch17:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-elasticsearch17"
          command: |
            make build-ubuntu-elasticsearch17
  build-ubuntu-elasticsearch24:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-elasticsearch24"
          command: |
            make build-ubuntu-elasticsearch24
  build-ubuntu-elasticsearch51:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-elasticsearch51"
          command: |
            make build-ubuntu-elasticsearch51
  build-ubuntu-elasticsearch61:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-elasticsearch61"
          command: |
            make build-ubuntu-elasticsearch61
  build-ubuntu-elasticsearch73:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-elasticsearch73"
          command: |
            make build-ubuntu-elasticsearch73
  build-ubuntu-kibana46:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-kibana46"
          command: |
            make build-ubuntu-kibana46
  build-ubuntu-kibana51:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-kibana51"
          command: |
            make build-ubuntu-kibana51
  build-ubuntu-kibana61:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-kibana61"
          command: |
            make build-ubuntu-kibana61
  build-ubuntu-logstash15:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-logstash15"
          command: |
            make build-ubuntu-logstash15
  build-ubuntu-logstash24:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-logstash24"
          command: |
            make build-ubuntu-logstash24
  build-ubuntu-logstash51:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-logstash51"
          command: |
            make build-ubuntu-logstash51
  build-ubuntu-logstash61:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-logstash61"
          command: |
            make build-ubuntu-logstash61
  build-ubuntu-mysql56:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-mysql56"
          command: |
            make build-ubuntu-mysql56
  build-ubuntu-mysql57:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-mysql57"
          command: |
            make build-ubuntu-mysql57
  build-ubuntu-php55-cli:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-php55-cli"
          command: |
            make build-ubuntu-php55-cli
  build-ubuntu-php55-fpm-nginx:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-php55-fpm-nginx"
          command: |
            make build-ubuntu-php55-fpm-nginx
  build-ubuntu-php56-cli:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-php56-cli"
          command: |
            make build-ubuntu-php56-cli
  build-ubuntu-php56-fpm-nginx:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-php56-fpm-nginx"
          command: |
            make build-ubuntu-php56-fpm-nginx
  build-ubuntu-php70-cli:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-php70-cli"
          command: |
            make build-ubuntu-php70-cli
  build-ubuntu-php70-fpm-nginx:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-php70-fpm-nginx"
          command: |
            make build-ubuntu-php70-fpm-nginx
  build-ubuntu-php72-cli:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-php72-cli"
          command: |
            make build-ubuntu-php72-cli
  build-ubuntu-php72-fpm-nginx:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-php72-fpm-nginx"
          command: |
            make build-ubuntu-php72-fpm-nginx
  build-ubuntu-redis30:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-redis30"
          command: |
            make build-ubuntu-redis30
  build-ubuntu-redis32:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-redis32"
          command: |
            make build-ubuntu-redis32
  build-ubuntu-redis40:
    <<: *docker_builder
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build "danbelden/ubuntu-redis40"
          command: |
            make build-ubuntu-redis40

workflows:
  version: 2
  build:
    jobs:
      - setup
      - build-ubuntu-elasticsearch17:
          requires:
            - setup
      - build-ubuntu-elasticsearch24:
          requires:
            - setup
      - build-ubuntu-elasticsearch51:
          requires:
            - setup
      - build-ubuntu-elasticsearch61:
          requires:
            - setup
      - build-ubuntu-elasticsearch73:
          requires:
            - setup
      - build-ubuntu-kibana46:
          requires:
            - setup
      - build-ubuntu-kibana51:
          requires:
            - setup
      - build-ubuntu-kibana61:
          requires:
            - setup
      - build-ubuntu-logstash15:
          requires:
            - setup
      - build-ubuntu-logstash24:
          requires:
            - setup
      - build-ubuntu-logstash51:
          requires:
            - setup
      - build-ubuntu-logstash61:
          requires:
            - setup
      - build-ubuntu-mysql56:
          requires:
            - setup
      - build-ubuntu-mysql57:
          requires:
            - setup
      - build-ubuntu-php55-cli:
          requires:
            - setup
      - build-ubuntu-php55-fpm-nginx:
          requires:
            - setup
      - build-ubuntu-php56-cli:
          requires:
            - setup
      - build-ubuntu-php56-fpm-nginx:
          requires:
            - setup
      - build-ubuntu-php70-cli:
          requires:
            - setup
      - build-ubuntu-php70-fpm-nginx:
          requires:
            - setup
      - build-ubuntu-php72-cli:
          requires:
            - setup
      - build-ubuntu-php72-fpm-nginx:
          requires:
            - setup
      - build-ubuntu-redis30:
          requires:
            - setup
      - build-ubuntu-redis32:
          requires:
            - setup
      - build-ubuntu-redis40:
          requires:
            - setup
