version: 2

aliases:
  - &docker_builder
    docker:
      - image: circleci/buildpack-deps:stretch
    workspace: /tmp/workspace

jobs:
  setup:
    <<: *docker_builder
    steps:
      - checkout
      - persist_to_workspace:
          root: .
          paths: '*'
  build-elasticsearch:
    <<: *docker_builder
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: ubuntu-elasticsearch17
          command: |
            ./tools/ci-build.sh ubuntu-elasticsearch17
      - run:
          name: ubuntu-elasticsearch24
          command: |
            ./tools/ci-build.sh ubuntu-elasticsearch24

workflows:
  version: 2
  build:
    jobs:
      - setup
      - build-elasticsearch:
          requires:
            - setup
